html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    color: var(--text-color);
    font-family: "Sometype Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

#main-container {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

canvas {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
}
